.left-sidebar-container{
  flex: 25%;
  /* height: 90vh; */
  border-right: 1px solid var(--grey-background-color);
  background-color:var(--bg-color);
  margin-right: 2rem;
  height: fit-content;
  position:sticky;
  top: 50px;
  border-radius: 5px;
}

.left-sidebar-wrapper{
  padding: 2rem;
}

.sidebar-list{
  list-style-type: none;
}

.sidebar-list-item{
  cursor: pointer;
}

.sidebar-list-item:hover{
  background-color: var(--border-color);
  transform: scale(1.2);
  max-width: 100%;
  /* border-radius:/ 1rem; */
}

.left-sidebar-nav-btn{
  display: flex;
  align-items: center;
  background-color: unset;
  color: var(--black-color);
  cursor: pointer;
  margin: 0;
}

.active-link{
  background-color: var(--border-color);
}