.left-sidebar-container{
  flex: 25%;
  height: 90vh;
}

.left-sidebar-wrapper{
  padding: 2rem;
}

.sidebar-list{
  list-style-type: none;
}

.sidebar-list-item:hover{
  background-color: var(--grey-background-color);
  transform: scale(1.2);
  border-radius: 1rem;
}