.profile-right-bottom{
  display: flex;
}

.profile-right{
  flex: 75%;
}

.profile-cover{
  height: 30rem;
  position: relative;
}

.profile-cover-img{
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

.profile-user-img{
  position: absolute;
  bottom:10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.user-info{
  /* margin-top: 20px; */
  align-items: center;
}

.user-bio{
  width: 60%;
  margin-top: 1rem;
}

.user-name{
  color: var(--black-color);
}
.user-handle{
  /* color: var(--light-border-color); */
  color: var(--black-color);
  font-weight: 200;

}

.edit-profile-btn{
  background-color: unset;
  color: var(--dark-secondary-text-color);
  border: 1px solid var(--border-color);
  padding: 1rem;
  border-radius:0;
  font-size: 1.4rem;
  font-weight: 400;
}

.right-bar-profile-container{
  /* background-color: var(--grey-background-color); */
  padding: 1rem;
  margin-top: 2rem;
}

.right-bar-friend-followings{
  display: flex;
  flex-wrap: wrap;
}

.right-bar-friend-following{
  height: 170x;
  width: 140px;
  margin: 5px;
}

.right-bar-friend-following-img{
  width: 100%;
  object-fit: cover;
  border-radius:5px ;
}

.right-bar-title{
  color: var(--black-color);
}

.friend-following-name{
  color: var(--black-color);
}