.invalid-field-color{
  color: var(--field-required-color);
}

.invalid-field-border{
  border-color: var(--field-required-color);
}

.invalid-field-border:hover{
  border-color: var(--field-required-color);
}

.toggle-password-button{
  position: absolute;
  top: 3.9rem;
  right: 2.2rem;
  cursor: pointer;
}

.toggle-password-icon{
  font-size: 1.6rem;
}