.post-container{
  margin-top: 2rem;
  background-color:var(--bg-color);
}

.post-wrapper{
  padding: 1rem;
}

.post-username{
  margin-left: 1rem;
}

.post-time{
  margin-left: 1rem;
}

.post-top-section{
  justify-content: space-between;
}

.post-middle-section{
  margin-top: 1.2rem;
}

.post-middle-section img{
  margin-top: 2rem;
}

.post-text-body{
  line-height: 2.2rem;
}

.post-bottom-section{
  margin-top: 1.4rem;
  justify-content: space-between;
  align-items: center;
}

.post-top-right{
  display: flex;
}

.comment-btn{
  padding: 5px;
  display: flex;
  margin:1rem 0 0 0;
  margin-left: auto;

}

.comment-btn:hover{
  background-color: unset;
  color:var(--primary-color)
}

.comment-input-field-parent{
  width:inherit;
}

.comment-input-field:hover{
  border: 1px solid var(--black-color);
}

.comments-container{
  margin-top: 1.2rem;
}

.comment{
  display: flex;
  align-items: center;
  margin-top: 1.2rem;
}

.comment-text{
  margin-left:1rem ;
  color: var(--black-color);
}