*{
  font-family: 'Roboto', sans-serif;
}
:root{
  --black-color:#131212;
  --grey-border-color:#D1D1D1;
  --grey-bg-light-color:#F9F9F9;
}

.secondary-button{
  background-color: unset;
  color: var(--black-color);
  cursor: pointer;
}

.secondary-button svg{
  margin-right: 1rem;
}

.margin0{
  margin: unset;
}

.padding0{
  padding: unset;
}

.pointer{
  cursor: pointer;
}

.app-container{
  margin-left: 5rem;
  margin-right: 5rem;
}

.app{
  background-color:var(--grey-background-color);
  height: 100%;
}