*{
  font-family: 'Roboto', sans-serif;
}

.secondary-button{
  background-color: unset;
  color: black;
  cursor: pointer;
}

.secondary-button svg{
  /* font-size: 2rem; */
  margin-right: 1rem;
}

.margin0{
  margin: unset;
}

.padding0{
  padding: unset;
}

.pointer{
  cursor: pointer;
}